.no-tours-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
}

.refresh-btn{
    color: white;
    background-color: darkgreen;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-weight: bold;
    margin: 30px;
}

.refresh-btn:hover{
    background-color: rgb(77, 153, 77);
}

.refresh-btn:focus{
    outline: none;
}